#i1{
    background-color: aqua;
    border: 2px solid;
    float: left;
    height: 100px;
    width: 100px;
}
#i2{
    background-color: yellow;
    float: left;
    visibility:visible;
}